.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover {
  color: #8b5cf6;
}

.nav-link {
  color: white;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #8b5cf6;
}

.nav-item {
  color: white;
  font-size: 1.1rem;
}

.nav-item:hover {
  color: #8b5cf6;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #9ca3af;
  border: none;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #8b5cf6;
}

.txtColect {
  color: #8b5cf6;
}
.iconEt {
  width: 24px;
}
.iconPrecio {
  display: flex;
}
.iconPrecio p {
  margin-top: 13px;
  margin-left: 10px;
}
.txtCards {
  margin-left: 15px;
  margin-top: -28px;
}
.nft-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.nft-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.img-container {
  padding: 30px;
}

.img-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.badge-custom {
  background: radial-gradient(circle at top, #691c9665, #261d74);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  color: #c9a8ff;
  box-shadow: 0 0 10px rgba(155, 92, 255, 0.3);
}

.eth {
  color: #b892ff;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-gradient {
  background: linear-gradient(90deg, #7b2ff7, #9b5cff);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

.btn-gradient:hover {
  opacity: 0.8;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
  gap: 60px;
}

.containerBanner {
  display: flex;
  justify-content: center;
}
.banner {
  height: 300px;
  width: 80%;
  border-radius: 20px;
  background-image: url(../assets/img/bannerIMG.png);
  background-size: cover;
  padding: 20px;
}

.badge-custom {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #a855f7;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.6);
  font-size: 1.2rem;
  display: inline-block;
}

.highlight {
  color: #a855f7;
}

.subtitle {
  color: #c4c4c4;
  font-size: 1.1rem;
}

.btn-mint {
  background: linear-gradient(90deg, #7c3aed, #a855f7);
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  width: 280px;
}

.btn-mint:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.6);
}

@media (max-width: 768px) {
  .containerBanner {
    display: none;
  }
}

.footerLeft {
  max-width: 300px;
}

.logoFooter {
  width: 30px;
  height: auto;
}

.footerFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerFlex h5 {
  margin: 0;
}

.footerText {
  font-weight: 500;
  margin-top: 15px;
  color: gray;
  font-size: 14px;
}

.footerNav {
  font-size: 15px;
  font-weight: 500;
  color: #8b5cf6;
  margin-bottom: 10px;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  margin-bottom: 2px;
}

.linksNav {
  color: #9ca3af;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.linksNav:hover {
  color: #8b5cf6;
}

.footerSections {
  font-size: 15px;
  font-weight: 500;
  color: #8b5cf6;
  margin-bottom: 10px;
}

.footerRedes {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.redesIconos {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.redesIconos a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  background-color: #1f2937;
  color: #9ca3af;

  text-decoration: none;
  font-size: 16px;

  border-radius: 8px;
  transition: 0.3s;
}

.redesIconos a:hover {
  color: #8b5cf6;
}

.copyright {
  color: #9ca3af;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .footerLeft {
    max-width: 100%;
  }

  .footerFlex {
    justify-content: center;
  }

  .footerLinks {
    align-items: center;
  }

  .footerRedes {
    align-items: center;
  }

  .redesIconos {
    justify-content: center;
  }
}
